html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
}

body {
      background: url(hero.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.neon-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

p {
      font-size: 72px;
      font-family: "IBM Plex Mono", sans-serif;
      color: #fff;
      font-weight: lighter;
}
